.app {
    text-align: center;
}

.pages {
    position: absolute;
    top: 0;
    left: 20%;
    width: 80%;
    height: 100vh;
    overflow-y: scroll;
    background-color: #C4C4C4;
}

@media only screen and (max-width: 600px) {
    .pages {
        top: 20vh;
        left: 0;
        width: 100vw;
        height: 80vh;
    }
}