.header {
    color: #545353;
    text-transform: uppercase;
    text-align: left;
    margin-left: 5%;
    letter-spacing: 5px;
    font-weight: 400;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container i {
    width: 125px;
    height: 200px;
    margin: 0 10px 20px 10px;
}

@media only screen and (max-width: 600px) {
    .container i {
        width: 110px;
        height: 160px;
    }
}