.tile {
    width: 125px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E8E8E8;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.25);
    padding: 10px;
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 20px;
}


.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content h5 {
    margin: 0;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: left;
}

.button {
    border: 1px solid #273478;
    border-radius: 2px;
    background-color: rgba(0,0,0,0);
    color:#273478;
}

.button:hover{
    cursor: pointer;
}

.image {
    width: 100%;
    margin-bottom: 10px;
}