.activeListContainer {
    width: 22%;
    min-height: 100%;
    background-color: #F0EFEF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.itemsContainer {
    width: 100%;
    min-height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.button {
    border: 1px solid #273478;
    border-radius: 2px;
    background-color: none;
    color:#273478;
}

.button:hover{
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .activeListContainer{
        display: none;
    }
}