.tile {
    width: 175px;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E8E8E8;
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.25);
    padding: 10px;
    box-sizing: border-box;
}


.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content h5 {
    margin: 0;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.image {
    width: 100%;
    margin-bottom: 10px;
}

